resultats/.DS_Store
ressources/preLoad/.DS_Store
src/.DS_Store
src/lib/.DS_Store
src/lib/__pycache__/shader.cpython-35.pyc
src/lib/__pycache__/viewpoint.cpython-35.pyc
.DS_Store
.gitignore
ressources/.DS_Store
ressources/Bones.mtl
ressources/Bones.obj
ressources/Skin.mtl
ressources/Skin.obj
ressources/anneauEnBiais.obj
ressources/preLoad/Bones-1.norm.npy
ressources/preLoad/Bones-1.vert.npy
ressources/preLoad/monTriangle-1.norm.npy
ressources/preLoad/monTriangle-1.vert.npy
src/lib/__pycache__/drawExpe.cpython-35.pyc
src/lib/__pycache__/expe.cpython-35.pyc
src/lib/__pycache__/matrix.cpython-35.pyc
src/lib/__pycache__/overall.cpython-35.pyc
src/lib/__pycache__/parser.cpython-35.pyc
src/lib/__pycache__/test.cpython-35.pyc
src/lib/__pycache__/teston.cpython-35.pyc
